<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>
        {{title}}
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />


    <style>
        :root {
            --sand-1: #fdfdfc;
            --sand-2: #f9f9f8;
            --sand-3: #f1f0ef;
            --sand-4: #e9e8e6;
            --sand-5: #e2e1de;
            --sand-6: #dad9d6;
            --sand-7: #cfceca;
            --sand-8: #bcbbb5;
            --sand-9: #8d8d86;
            --sand-10: #82827c;
            --sand-11: #63635e;
            --sand-12: #21201c;
        }
    </style>

    <script src="https://cdn.tailwindcss.com">

    </script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ["Instrument Sans", "sans-serif"]
                    },
                    colors: {
                        primary: {
                            DEFAULT: "#5A45FF",
                            lighter: "#a599ff"
                        },
                        sand: {
                            1: "var(--sand-1)",
                            2: "var(--sand-2)",
                            3: "var(--sand-3)",
                            4: "var(--sand-4)",
                            5: "var(--sand-5)",
                            6: "var(--sand-6)",
                            7: "var(--sand-7)",
                            8: "var(--sand-8)",
                            9: "var(--sand-9)",
                            10: "var(--sand-10)",
                            11: "var(--sand-11)",
                            12: "var(--sand-12)"
                        }
                    }
                }
            }
        };
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
</head>

<body class="min-h-screen font-sans text-white bg-black">
    @flashMessage('notification')
    <div id="flash-message"
        class="mt-2 bg-teal-100 border border-teal-200 text-sm text-teal-800 rounded-lg p-4 dark:bg-teal-800/10 dark:border-teal-900 dark:text-teal-500"
        role="alert" tabindex="-1" aria-labelledby="hs-soft-color-success-label">
        <span id="hs-soft-color-success-label" class="font-bold">Success</span> {{ $message.message}}
        <script>
            setTimeout(() => {
                document.getElementById('flash-message')?.remove();
            }, 3000);
        </script>
    </div>
    @end
    <div class="max-w-7xl mx-auto">
        <main class="grid grid-cols-[1fr_2fr_1fr] min-h-[100dvh] relative">
            <aside id="sidebar-left" class="relative border-r-[1px] border-gray-600 p-6">
                @include('pages/sidebar-left')
            </aside>
            <section class="col-[2/3]">
                {{{ await $slots.main() }}}
            </section>
            <aside id="sidebar-right" class="relative col-[3/-1] border-l-[1px] border-gray-600  p-6">
                @include('pages/sidebar-right')
            </aside>

            {{-- Post Modal --}}
            <div>
                @include('pages/partials/post-modal.edge')
            </div>
            {{-- Comment Model --}}
            <div>
                @include('pages/partials/comment-modal.edge')
            </div>
        </main>
    </div>
</body>

</html>